<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/home.css">
    
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <h1 class="banner">Neighborhood Delivery Logger</h1>
        <div class="section editor">
            <div class="form-group">
                <label for="id">Delivery ID
                    <input id="id" type="text" class="form-control" />
                </label>
                <label for="company">Delivery Company
                    <input id="company" type="text" class="form-control" />
                </label>
                <label for="myhouse">Is My House?
                    <input id="myhouse" type="text" class="form-control" />
                </label>
                <label for="deliverydate">Delivery Date
                    <input id="deliverydate" type="datetime-local" class="form-control" />
                </label>

            </div>
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="people">
            <table class="table">
                <caption>Deliveries</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Company</th>
                        <th>Is My House</th>
                        <th>Delivery Date</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
    <script src="static/js/home.js"></script>
</body>
</html>