.vscode/*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
kg-javascript/FabricDigitizer/index.html
kg-dotnet/arcgispro-database-tester/GeodatabaseConnection/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
kg-javascript/FabricTypescript/app/main.js
kg-javascript/FabricTypescript/app/VersionMangement.js
kg-dotnet/arcgispro-database-tester/GeodatabaseConnection/obj/Debug/GeodatabaseConnection.csproj.AssemblyReference.cache
